
header {
   background-color: #661429;
   color: rgb(102, 37, 37); /* Text color for the navigation bar */
   padding: 1% 0;
   position: relative;
   width: 100%;
   text-align: center; /* Center the text in the navigation bar */
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav li {
   display: inline;
   margin-right: 20px;
}

nav a {
   text-decoration: none;
   color: white; /* Text color for the navigation links */
   font-weight: bold;
}

section {
   margin: 20px;
   padding: 20px;
   background-color: #fff; /* Background color for sections */
}

footer {
   background-color: #661429;
   color: white; /* Text color for the footer */
   text-align: center;
   padding: 10px 0;
}

h2 {
   /* Your custom styles for h2 go here */
   font-size: 25; /* Example font size */
   color: #000000; /* Example text color */
   text-align: center;
   /* Add any other styles you want for h2 within the section */
 }
 .about-content {
   display: flex;
   align-items: center;
}

.about-content img {
   margin-right: 10px; /* Adjust the margin as needed for spacing */
}